.Contact-div {
  height: 100vh;
  width: 100vw;
  /* background-color: #0b0711; */
  background: url('../images/contact.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.Contact-div > .Contact-heading {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.Contact-div > .Contact-heading > span {
  color: white;
  font-size: 6.5em;
  font-family: Haarlem;
  letter-spacing: 5px;
  position: relative;
}

.Contact-div > .Contact-heading > span::after {
  position: absolute;
  left: 90%;
  bottom: 0;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 20%;
  border-bottom: 2px solid #768ad9;
}

.Contact-div > .Cards-div {
  margin-top: 2vh;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.des-card {
  width: 18%;
  height: 37%;
  background-color: #1b191e;
  border-radius: 10px;
  margin: 0 25px 0 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  position: relative;
}

.des-card > .prof-pic {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .des-card:nth-of-type(1) > .prof-pic {
  background: url('../images/Parth.jpg');
} */

/* .des-card:nth-of-type(2) > .prof-pic {
  background: url('../images/Parth.jpg');
}

.des-card:nth-of-type(3) > .prof-pic {
  background: url('../images/adit.png');
}

/* .des-card:nth-of-type(4) > .prof-pic {
  background: url('../images/Parth.jpg');
} */

/* .des-card:nth-of-type(5) > .prof-pic {
  background: url('../images/Parth.jpg');
} */

/* .des-card:nth-of-type(6) > .prof-pic {
  background: url('../images/tanvi.png');
} */

.des-card > .name {
  width: 100%;
  text-align: center;
  padding: 2% 0 2% 0;
}

.des-card > .name > span {
  font-family: sf-ui;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.des-card > .position {
  width: 100%;
  text-align: center;
  padding: 2% 0 2% 0;
}

.des-card > .position > span {
  color: white;
  font-family: sf-ui;
  font-size: 0.9em;
}

.des-card > .phone-no {
  width: 100%;
  text-align: center;
  padding: 2% 0 2% 0;
}

.des-card > .phone-no > span {
  color: white;
  font-family: sf-ui;
  font-size: 0.7em;
}

.des-card > .email {
  width: 100%;
  text-align: center;
  padding: 2% 0 2% 0;
}

.des-card > .email > span {
  color: white;
  font-family: sf-ui;
  font-size: 0.7em;
}

.des-card > .dash {
  width: 30%;
  height: 2px;
  background-color: #768ad9;
  margin: 5% 0 5% 0;
}

.Contact-div > .footer-div {
  width: 90%;
  height: 5vh;
  border-top: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.Contact-div > .footer-div > span {
  color: white;
  font-family: sf-ui;
}

.Contact-div > .footer-div > span a {
  color: white;
  font-family: sf-ui;
  margin-left: 1vw;
}

@media (max-width: 500px) {
  .Contact-div > .Contact-heading {
    margin-top: 0vh;
  }

  .Contact-div > .Contact-heading > span {
    font-size: 2.5em;
  }

  .Contact-div > .Cards-div {
    margin-top: 0vh;
    overflow: scroll;
    height: 75vh;
  }

  .des-card {
    width: 55%;
    height: 33%;
    margin: 7vh 0 7vh 0;
  }

  .des-card > .prof-pic {
    width: 108px;
    height: 108px;
  }

  .des-card > .name > span {
    font-family: sf-ui;
    color: white;
    font-size: 1em;
    font-weight: bold;
  }

  .Contact-div > .footer-div {
    width: 80%;
    padding: 0px 20px 0px 20px;
  }

  .Contact-div > .footer-div > span {
    color: white;
    font-size: 0.7em;
    font-family: sf-ui;
  }
}

@media (max-width: 1200px) and (min-width: 900px) {
  .Contact-div > .Cards-div {
    overflow: scroll;
    margin-top: 0vh;
  }

  .Contact-div > .Cards-div > .des-card {
    width: 35%;
    height: 25%;
    margin: 5.5vh 20px 0 20px;
  }
}

@media (max-width: 950px) and (min-width: 700px) {
  .Contact-div > .Cards-div {
    overflow: scroll;
    margin-top: 0vh;
  }

  .Contact-div > .Cards-div > .des-card {
    width: 35%;
    height: 31%;
    margin: 10.5vh 20px 0 20px;
  }
}

@media (max-width: 400px) {
  .Contact-div > .Contact-heading {
    margin-top: 0vh;
  }

  .Contact-div > .Contact-heading > span {
    font-size: 2.2em;
  }

  .Contact-div > .Cards-div {
    margin-top: 0vh;
    overflow: scroll;
    height: 75vh;
  }

  .des-card {
    width: 55%;
    height: 40%;
    margin: 7vh 0 7vh 0;
  }

  .des-card > .prof-pic {
    width: 68px;
    height: 68px;
  }

  .des-card > .name > span {
    font-family: sf-ui;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
  }

  .des-card > .phone-no > span {
    font-size: 0.5em;
  }

  .des-card > .email > span {
    font-size: 0.5em;
  }

  .des-card > .position > span {
    font-size: 0.7em;
  }

  .Contact-div > .footer-div {
    width: 70%;
    padding: 0px 20px 0px 20px;
  }

  .Contact-div > .footer-div > span {
    color: white;
    font-size: 0.5em;
    font-family: sf-ui;
  }
}

@media (max-width: 450px) and (min-width: 410px) {
  .des-card {
    height: 37%;
    margin: 6vh 0 7vh 0;
  }
  .des-card > .prof-pic {
    width: 98px;
    height: 98px;
  }
}

@media (max-width: 380px) and (min-width: 377px) {
  .des-card {
    height: 30%;
  }
}

@media (max-width: 376px) and (min-width: 340px) {
  .des-card {
    height: 35%;
  }
}

@media (max-width: 340px) and (min-width: 320px) {
  .des-card {
    height: 37%;
    margin: 6vh 0 7vh 0;
  }
}
